.signup-container {
	background-color: var(--darkest);
	width: 100vw;
	height: 85vh;
	display: flex;
	align-items: top;
	padding-top: 15vh;
	justify-content: center;
}

.signup-section {
	color: var(--lightest);
	display: grid;
	grid-template-rows: 0.1fr 0.1fr 0.8fr;
	grid-template-columns: 1fr;
	height: 55vh;
	width: 80vw;
}

.signup-title {
	color: var(--primary);
	font-size: 2.5rem;
	text-align: center;
	font-family: "Pacifico", cursive;
	font-weight: 200;
	margin: 0;
	margin-bottom: 1.2vh;
}

.signup-ul {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.signup-tab {
	font-family: "Roboto";
	letter-spacing: 0.04rem;
	color: var(--primary);
	background: none;
	border: none;
	width: 98%;
	font-size: 0.8rem;
	font-weight: 600;
	line-height: 1.6rem;
	margin-bottom: 1vh;
	text-align: center;
}

.tab-active {
	border-bottom: 3px solid var(--primary);
}

.signup-form {
	display: flex;
	flex-direction: column;
	gap: 2vh;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

.signup-form-name {
	display: flex;
	width: 100%;
	gap: 2vw;
}

.signup-input {
	font-family: "Roboto";
	line-height: 1.6rem;
	width: 100%;
	background: none;
	border: none;
	border-bottom: 1.5px solid var(--medium);
	color: var(--lightest);
}

.signup-input:focus {
	outline: none;
	border-bottom: 1.5px solid var(--primary);
}

.signup-input::placeholder {
	color: var(--light);
}

.signup-radio-container {
	display: flex;
	width: 100%;
	font-size: 0.8rem;
	align-items: center;
	padding-left: 2vw;
	gap: 2vw;
}

.signup-radio-button {
	display: none;
}

.signup-radio-label {
	font-family: "Roboto";
	font-size: 0.8rem;
	padding: 0.2rem;
	font-weight: 600;
}

.radio-selected {
	background-color: var(--primary);
	color: var(--darkest);
	padding: 0.2rem;
	padding-inline: 0.3rem;
	border-radius: 8px;
}

.radio-unselected {
	background-color: var(--darkest);
	color: var(--white);
}

.signup-form-submit {
	font-family: "Roboto";
	font-weight: 600;
	font-size: 0.8rem;
	letter-spacing: 0.04rem;
	color: var(--darkest);
	background: var(--primary);
	border: none;
	width: 100%;
	line-height: 1.6rem;
	align-self: center;
}

.signup-form-submit:hover {
	cursor: pointer;
}

.signup-form-error {
	color: red;
	font-size: 0.8rem;
}

@media (min-width: 768px) {
	.signup-section {
		color: var(--lightest);
		display: grid;
		grid-template-rows: 0.1fr 0.1fr 0.8fr;
		grid-template-columns: 1fr;
		height: 25vh;
		width: 30vw;
	}
}
