.schedule-container {
	height: 90vh;
	background-color: var(--darkest);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10vh 20vh 60vh;
}

.schedule-title {
	width: 100%;
	color: var(--lightest);
	display: flex;
	align-items: center;
	justify-content: center;
}
.month-year {
	color: var(--light);
	font-size: 0.8rem;
	font-weight: 600;
	text-align: center;
	padding: 2vh 0 2vh 0;
}

.day {
	color: var(--light);
	font-size: 0.8rem;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2vh;
}

.week-days {
	display: flex;
	justify-content: space-between;
	padding-inline: 6vw;
}

.active {
	background-color: var(--primary);
	color: var(--darkest);
	border-radius: 50%;
	padding: 3px;
}

.calendar-navigate-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4vw;
	height: 10vw;
}

.appointments-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20vh;
	gap: 2vh;
	overflow-y: scroll;
}

.schedule-appointment-card {
	display: grid;
	grid-template-columns: 1fr;
	height: 16vh;
	background-color: var(--dark);
	color: var(--light);
	margin-inline: 4vw;
	padding: 2vh;
}

.appointment-card-text {
	margin: 0;
	padding: 1vh;
}

.appointment-card-name {
	margin: 0;
	padding: 1vh;
	font-size: 1.2rem;
	font-weight: 600;
}

.no-appointments {
	text-align: center;
	color: var(--light);
}
