.profile-container {
	height: 90vh;
	width: 100vw;
	background-color: var(--darkest);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20vh auto;
}

.profile-header {
	width: 100%;
	color: var(--lightest);
	text-align: center;
	padding: 2vh 0 2vh 0;
}

.profile-header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-img {
	justify-self: flex-start;
	border: 1px solid var(--light);
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	object-fit: cover;
	align-self: center;
	justify-self: center;
}

.profile-img-plus {
	position: fixed;
	background-color: var(--primary);
	color: var(--darkest);
}

.profile-name {
	color: var(--light);
	font-size: 1rem;
	font-weight: 600;
	justify-self: center;
	margin: 0;
	align-self: center;
}

.profile-subtitle {
	color: var(--lightest);
	font-size: 0.8rem;
	font-weight: 600;
	margin: 0;
	padding: 0 0 0 4vw;
}

.profile-edit-button {
	justify-self: center;
	background-color: var(--primary);
	color: var(--darkest);
	height: 3vh;
	width: 22vw;
	border: none;
	border-radius: 5px;
	padding: 1vh 2vw 1vh 2vw;
	font-size: 1rem;
	font-weight: 600;
}

.profile-address {
	color: var(--light);
	font-size: 0.8rem;
	margin: 0;
	padding: 0 0 0 4vw;
}

.profile-schedule {
	color: var(--light);
	font-size: 0.8rem;
	margin: 0;
	padding: 0 0 0 4vw;
}

.profile-services {
	color: var(--light);
	font-size: 0.8rem;
	margin: 0;
	padding: 0 0 0 4vw;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 4vw;
}

.profile-portfolio {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	height: 15vh;
	gap: 2vw;
	overflow-y: scroll;
	padding: 2vh 4vw 2vh 4vw;
	scrollbar-width: thin; /* For Firefox */
	scrollbar-color: #999 #fff; /* For Firefox */
}

/* For Chrome, Safari, and Opera */
.profile-portfolio::-webkit-scrollbar {
	width: 12px;
}

.profile-portfolio::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 6px;
}

.portfolio-image {
	height: 12vh;
	width: 12vw;
	object-fit: cover;
}

.subtitle-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subtitle-edit {
	padding-right: 4vw;
	font-weight: 600;
	font-size: 0.8rem;
}

.subtitle-header {
	text-align: center;
	font-size: 0.8rem;
	font-weight: 600;
}
.barber-profile-spinner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--darkest);
	color: var(--primary);
}
