.appointments-container {
	height: 90vh;
	background-color: var(--darkest);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.05fr 0.05fr auto;
}

.appointments-title {
	width: 100%;
	color: var(--lightest);
	display: flex;
	align-items: center;
	justify-content: center;
}

.appointments-tab {
	color: var(--primary);
	font-weight: 600;
	padding: 0;
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
	align-items: center;
	list-style: none;
	text-align: center;
}

.appointments-tab li {
	padding: 0vh 0vw 1vh 0vw;
	cursor: pointer;
}

.active {
	border-bottom: 2px solid var(--primary);
}

.appointment-profile-picture {
	width: 8vh;
	height: 8vh;
	object-fit: cover;
	border-radius: 50%;
}

.appointment-card-container {
	overflow-y: scroll;
	height: 70vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(auto, 25vh);
	gap: 1vh;
}

.appointment-pfp-name-container {
	display: flex;
	align-items: center;
	gap: 4vw;
}

.appointment-card {
	height: 20vh;
	margin-inline: 6vw;
	color: var(--light);
	padding: 3vw;
	background-color: var(--dark);
	display: grid;
	gap: 1vh;
}

.appointment-time {
	font-weight: 600;
}

.no-appointment {
	text-align: center;
	color: var(--light);
}

@media (min-width: 768px) {
	.appointments-container {
		padding-inline: 20vw;
	}
}
